img{
width:100%;
}






div.scroll {

    height: 450px;
    overflow: scroll;
    margin-bottom: 40px;
    }


.hs-responsive-embed-youtube {
position: relative;
padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
padding-top: 25px;
}

.hs-responsive-embed-youtube iframe {
position: absolute;
width: 100%!important;
height: 100%!important;
}


h1{
margin-top: 70px;
}



